.header__container {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 20px 0;
  background-color: $primary-color;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  &__logo {
    circle {
      transition: 0.15s linear;
    }
    &:hover {
      box-shadow: 0px 4px 20px 0px rgba(#ffffff, 0.25);
      circle {
        fill: $white;      
      }
    }
  }
}

.header__logo {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-color;
  border-radius: 50%;
  font-size: 32px;
  font-weight: 700;
  color: $primary-color;
  transition: 0.15s linear;
  &:hover {
    background-color: $white;
  }

  @include respond-above(tablet) {
    width: 52px;
    height: 52px;
  }
}

.header__link-container {

  @include respond-above(tablet) {
    display: flex;
    align-items: center;
    & > * + * {
      margin-left: 32px;
    }
  }

  @include respond-below(tablet) {
    flex-direction: column;
    display: flex;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: -100%;
    width: calc(100% - 20px);
    left: 50%;
    transform: translateX(-50%);
    background-color: $secondary-color;
    border-radius: 4px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    transition: 0.5s linear;
    padding: 80px 20px 20px;
    & > * + * {
      margin-top: 20px;
    }
    .header__link {
      color: $primary-color;
    }
    &.show {
      height: calc(100vh - 20px);
      padding: 80px 20px 20px;
      top: 8px;
    }
  }
}

.header__link {
  font-size: 16px;
  color: rgba($color: $white, $alpha: 0.4);
  text-decoration: none;
  transition: 0.15s linear;
  &:hover,
  &.active {
    color: $white;
  }
  @include respond-below(tablet){
    font-weight: 500;
  }
}

.hamburger,
.close-icon {
  width: 48px;
  height: 48px;
  padding: 4px;
  border-radius: 50%;
  background-color: $secondary-color;
  display: flex;
  align-items: center;
  justify-content: center;

  @include respond-above(tablet) {
    display: none;
  }
}

.close-icon {
  position: absolute;
  right: 12px;
  top: 12px;
  margin: 0;
}

.header_social-icon{
  @include respond-below(tablet){
    path{
      fill: $primary-color;
    }
  }
}