.hero {
  text-align: center;
  padding-top: 64px;

  h1 {
    margin-top: 8px;
    background-color: transparent;
    @include gradient-animation($isText: true);
    & > * {
      font-size: 40px;
      font-weight: 600;
      font-family: "Varela Round", sans-serif !important;
    }
    @include respond-above(tablet) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @include respond-below(tablet) {
      height: 80px;
      & > * {
        vertical-align: middle;
      }
    }
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
    line-height: 1.4;
    max-width: 720px;
    margin: 16px auto 0;
  }

  .hero__cta {
    margin: 24px auto 0;
  }
}

.animated-hello {
  font-size: 28px;
  display: inline-block;
}

@keyframes hello_animation {
  from {
    transform: rotate(-30deg);
  }
  to {
    transform: rotate(30deg);
  }
}
