.hero {
  text-align: center;
  padding-top: 64px;

  h1 {
    margin-top: 8px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    @include gradient-animation($isText: true);
    & > * {
      font-size: 40px;
      font-weight: 600;
      font-family: "Varela Round", sans-serif !important;
    }
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
    line-height: 1.4;
    max-width: 720px;
    margin: 16px auto 0;
  }

  .hero__cta {
    margin: 24px auto 0;
  }
}
