.section {
  margin-top: 64px;
  &:hover {
    .section__title {
      color: $tertiary-color;
    }
  }
}

.section__header {
  text-align: center;
  margin-bottom: 32px;
}

.section__title {
  font-size: 32px;
  font-weight: 600;
  transition: 0.15s linear;
  color: $secondary-color;
}
