button {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0;
}

.btn {
  padding: 12px 16px;
  border-radius: 8px;
  cursor: pointer;
  @include respond-below(tablet) {
    width: 100%;
  }
  &--primary {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    min-width: 180px;
    border: 1px solid $secondary-color;
    background-color: $secondary-color;
    box-shadow: $box-shadow-default;
    transition: 0.15s linear all;

    &:hover {
      background-color: #14181d;
      box-shadow: $box-shadow-white;
      & > * {
        color: $secondary-color;
      }
    }
    &:active {
      background-color: $white;
      box-shadow: 0 0 4px $white;
    }
    @include respond-below(tablet) {
      width: 100%;
    }
  }

  &--rounded {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    min-width: 0;
    padding: 0;
    justify-content: center;
    border-radius: 50%;
    background-color: $secondary-color;
    box-shadow: $box-shadow-default;
    &:hover {
      box-shadow: $box-shadow-white;
    }
  }

  &__label {
    font-size: 14px;
    font-weight: 500;
    color: $primary-color;
    text-align: center;
  }
}
