button {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0;
}

.btn {
  padding: 12px 16px;
  border-radius: 12px;
  cursor: pointer;
  @include respond-below(tablet) {
      width: 100%;
  }
  &--primary {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color;
    transition: 0.15s linear background-color;
    &:hover {
      background-color: $white;
    }
    &:active {
      background-color: $white;
      box-shadow: 0 0 4px $white;
    }
    @include respond-below(tablet) {
      width: 100%;
    }
  }

  &--rounded {
    width: 32px;
    height: 32px;
    padding: 0;
    justify-content: center;
    border-radius: 50%;
  }

  &__label {
    font-size: 16px;
    font-weight: 500;
    color: $primary-color;
    text-align: center;
  }

}
