.card{
    padding: 16px 16px 24px;
    background-color: $secondary-color;
    border-radius: 12px;
    transition: 0.15s linear background-color;
    width: 100%;
    &:hover{
        background-color: $white;
        box-shadow: $box-shadow-white;
    }

    & > * +*{
        margin-top: 12px;
    }

    &__img{
        img{
            width: 100%;
            height: 144px;
            object-fit: contain;
        }
    }
    &__title,&__desc{
        color: $primary-color;
    }
    &__title{
        font-size: 18px;
        font-weight: 500;

    }
    &__desc{
        font-size: 16px;    
    }
}