.input-label {
  font-size: 16px;
  color: $secondary-color;
}

.input {
  @include glassmorphic-bg;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 16px;
  border-radius: 12px;
  outline: none;
  border: none;
}
.input--textarea {
  resize: none;
}
.input::selection {
  background-color: $tertiary-color;
  color: $primary-color;
}

.input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  .input {
    margin-top: 12px;
  }
  .input-error {
    position: absolute;
    left: 0;
    top: calc(100% + 8px);
    font-size: 12px;
    color: $red;
  }
  &:focus-within {
    .input-label {
      color: $white;
    }
  }
}
