.tag {
  padding: 16px 20px;
  display: inline-flex;
  align-items: center;
  background-color: $secondary-color;
  color: $primary-color;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  transition: 0.1s linear background-color;
  svg {
    width: 48px;
    height: 48px;
  }
  & > * + * {
    margin-left: 4px;
  }
  &:hover {
    background-color: $tertiary-color;
  }
}
