$primary-color: #161b20;
$secondary-color: #fbfbfb;
$tertiary-color: #dcf8ff;
$black: #000000;
$white: #fbfbfb;
$white-100: rgba(255, 255, 255, 0.926);
$red: #dd2727;
$orange: #e65000;

$box-shadow-white: 0px 4px 20px 0px rgba(#ffffff, 0.25);

$hover-gradient: linear-gradient(45deg, #64f38c, #f79d00, #00f260);
//   background-image: linear-gradient(
//       to right,
//       #00f260,
//       #27d2ca,
//       #0575e6,
//       #64f38c
//     );
