*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}
b,
strong {
  font-weight: 600;
}
body {
  box-sizing: border-box;
  background-color: $primary-color;
  color: $secondary-color;
}

html {
  scroll-padding-top: 110px;
  scroll-behavior: smooth;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  @include respond-below(tablet-lg) {
    padding: 0 20px;
  }
}

.link {
  color: #2a8178;
}

.curson-blinker {
  width: 3px;
  height: 40px;
  display: inline-block;
  border-radius: 12px;
  margin-left: 2px;
  background-image: linear-gradient(to left, #1962cf 0%, #00ff00 100%);
}
