*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}
b{
  font-weight: 500;
}
body {
  box-sizing: border-box;
  background-color: $primary-color;
  color: $secondary-color;
}

html{
  scroll-padding-top : 110px;
  scroll-behavior: smooth;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  @include respond-below(tablet-lg) {
    padding: 0 20px;
  }
}
